# gitignore example = w google poszukaj


# pythonowskie
../django-tutorial/
../venv/
__pycache__/
*.py[cod]

# to są ustawienia programu, środowisko programu
.idea/
# cisual code
.vscode/
# dla maców
*.DS_Store

# baza danych - nie wysyłamy, bo cały czas mogą się dodawać pliki i zawalić repozytorium
db.sqlite3

