{% extends 'index.html' %}
{% block content %}


{% load bootstrap3 %}
{% bootstrap_css %}




<h1> My App</h1>
<div class="panel panel-default">
    <div class = "panel-heading">List of Movies</div>
    <div class = "panel-heading">Ilość filmów {{movies|length}}</div>

    <div class="panel-body">
        <ul>
            {% for movie in movies %}
            <li>
                {{ movie.id }}
                {{ movie.name|upper }}
                <a href="{% url 'movie_edit' pk=movie.id %}"<b>Edit</b> </a>
                <a href="{% url 'movie_delete' pk=movie.id %}"<b>Delete</b> </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}